<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Instore</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:16:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNInstorePDP.beforeTest()[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:16:30</td>   <td>11202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNInstorePDP.beforeTest(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:16:30</td>   <td>11205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNInstorePDP.BNIA08_PDP_Page()[pri:1, instance:bnInstore.BNInstorePDP@7d70d1b1]">BNIA08_PDP_Page</td> 
  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:24:58</td>   <td>519995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNInstorePDP.AfterMethod(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:24:58</td>   <td>520008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNInstorePDP.beforeTest(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:24:58</td>   <td>520008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNInstorePDP.BNIA39_Gift_Card()[pri:2, instance:bnInstore.BNInstorePDP@7d70d1b1]">BNIA39_Gift_Card</td> 
  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:26:15</td>   <td>596749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNInstorePDP.AfterMethod(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:26:15</td>   <td>596751</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNInstorePDP.afterTest()[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@202155434</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/27 18:26:17</td>   <td>599053</td> <td title="&lt;&lt;BNInstorePDP.closeReporter()[pri:0, instance:bnInstore.BNInstorePDP@7d70d1b1]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
</table>
