<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:04:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNCheckoutGuestuser.AfterMethod(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:05:28</td>   <td>46634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNCheckoutGuestuser.AfterMethod(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:05:46</td>   <td>65053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNCheckoutGuestuser.AfterMethod(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:02:52</td>   <td>-109453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNCheckoutGuestuser.BNIA_267_Guest_Shipping_and_Billing_Address_Entry_For_New_Customers()[pri:1, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">BNIA_267_Guest_Shipping_and_Billing_Address_Entry_For_New_Customers</td> 
  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:04:41</td>   <td>230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNCheckoutGuestuser.BNIA_296_Guest_Delivery_Options()[pri:2, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">BNIA_296_Guest_Delivery_Options</td> 
  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:05:28</td>   <td>46698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNCheckoutGuestuser.BNIA_298_Payment_Info()[pri:3, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">BNIA_298_Payment_Info</td> 
  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:05:46</td>   <td>65105</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNCheckoutGuestuser.afterTest()[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:02:34</td>   <td>-127590</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNCheckoutGuestuser.beforeTest()[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:02:52</td>   <td>-109455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNCheckoutGuestuser.beforeTest(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:04:41</td>   <td>229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNCheckoutGuestuser.beforeTest(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/03/01 13:05:28</td>   <td>46698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNCheckoutGuestuser.beforeTest(java.lang.reflect.Method)[pri:0, instance:bnInstore.BNCheckoutGuestuser@62150f9e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@762476028</td>   <td></td> </tr>
</table>
